*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  position: relative;
  width: 100%;
  height: 96px;
  background: #f7efef;
  justify-content: space-between;
  display: flex;

  border-bottom: 1px solid #282828;
}


.logo {
  margin: 24px 0 0 24px;
}


#date {
  text-align: center;
  padding: 14px;
  margin: 24px;
  color: #f7efef;
  background-color: #282828;
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Roboto Slab';
}


.heading {
  margin-top: 48px;
  margin-bottom: 28px;
}


.heading h1 {
  text-align: center;
  font-family: 'Martel Sans';
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: #282828;
}


.heading h2 {
  text-align: center;
  font-family: 'Roboto Slab';
  font-size: 30px;
  margin-bottom: 32px;
  color: #282828;
}


.titles {
  margin-bottom: 28px;
  font-family: 'Roboto Slab';
  font-size: 18px;
}


.titles ul li {
  text-align: center;
  margin: 8px;
  list-style-type: none;
}

.titles ul {
  column-count: 3;
}


.images {
  width: 100%;
  text-align: center;
}


.images img {
  margin: 5px;
  height: 260px;
  width: 460px;
}

.quote{
  margin-top: 28px;
}


.quote p {
  color: #282828;
  font-size: 18px;
  font-family: 'Roboto Slab';
  text-align: center;
}

footer {
  margin-top: 48px;
  position: relative;
  width: 100%;
  height: 96px;
  padding: 0 10%;
  background: #f7efef;
  border-top: 1px solid #282828;

}


footer p {
  text-align: center;
  padding-top: 40px;
  color: #282828;
  font-size: 18px;
  font-family: 'Roboto Slab';
}